[Unit]
Description=Prometheus
After=syslog.target network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/bin/prometheus \
            -config.file=/etc/prometheus/prometheus.yml \
            -storage.local.path=/var/lib/prometheus \
            -storage.local.retention=120h0m0s
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
