[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
Environment=MONO_TLS_PROVIDER=legacy
User=radarr
Group=radarr
Type=simple
ExecStart=/usr/bin/mono /opt/radarr/Radarr.exe -nobrowser -data=/var/lib/radarr
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
